<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Porównanie cen alkoholi</title>
</head>
<style>
    body
    {
    background-repeat:no-repeat;
    background-attached:fixed;
    background-size:cover;
    background-image::url({{url_for('static', filename='alco_bg.jpg')}})
    }

</style>



<body>
<h1 style="text-align: center;">Czego chcesz się dzisiaj napić?</h1>
<div class="search">
<form action="/" method=post>
    <input type=text name=search value="{{ request.form.search}}"></br>
    <div class="actions"><input type=submit value="Search"></div>
</form>
</div>


{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}




</body>
</html>